@model IEnumerable<SportsHub.Models.Event>

<div class="page-header page-header-weather">
    <h3>weather</h3>
</div>
<div class="bs-callout bs-callout-weather">
    <strong class="label-important">some useful links</strong>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled links-list">
                <li><a class="label-important" href="http://www.weather.com/weather/hourbyhour/graph/Weston+FL+33326:4:US">The Weather Channel</a></li>
                <li><a class="label-important" href="http://www.accuweather.com/en/us/weston-fl/33327/weather-forecast/2257910">Accuweather</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled links-list">
                <li><a class="label-important" href="http://www.wunderground.com/weather-forecast/US/FL/Weston.html">Wunderground</a></li>
                <li><a class="label-important" href="http://www.wunderground.com/wundermap/?lat=26.11238289&lon=-80.37126923&zoom=8&pin=Weston%2c%20FL">Radar (Wundermap)</a></li>
            </ul>
        </div>
    </div>
</div>
