
<div id="events" style="display:none">
    <div data-bind="foreach: events">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3><a data-bind="attr: { href: eventUrl }, text: ActivityName"></a></h3>
                <div>
                    <span data-bind="text: Location.Name"></span>
                    <span>&nbsp;@@&nbsp;</span>
                    <span data-bind="text: moment(Time).format('MMMM DD, YYYY [@@] h:mm:ss a')"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="no-events" style="display:none">
    <h1>No events today! Check back tomorrow</h1>
</div>

<script type="text/javascript">
    $(function () {
        function EventsViewModel() {
            var self = this;
            self.events = ko.observableArray([]);

            $.ajax({
                url: "/api/Events/" + moment().format("MM-DD-YY"),
                type: "get",
                success: function (data) {
                    ko.utils.arrayForEach(data, function (d) {
                        d.eventUrl = "/Event/Details/" + d.Id;
                    })
                    self.events(data);
                    var show = (model.events().length > 0) ? "#events" : "#no-events";
                    $(show).show();
                }
            });
        };
        var model = new EventsViewModel();
        ko.applyBindings(model);
        
    });
</script>