@model SportsHub.Models.Event

<div class="page-header page-header-weather">
    <h3>Weather Report</h3>
</div>
<div class="bs-callout bs-callout-weather">
    <div class="row" align="center">
<script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('21605e10-5a33-44f3-a97c-d5edf584f3e4');</script>
<noscript>Get the <a href="http://www.widgetbox.com/widget/weather2">Weather Widget</a> widget and many other <a href="http://www.widgetbox.com/">great free widgets</a> at <a href="http://www.widgetbox.com">Widgetbox</a>! Not seeing a widget? (<a href="http://support.widgetbox.com/">More info</a>)</noscript>
    </div>
</div>
