div.page-header(style="margin-top: 0px;")
	h1(style="margin: 0px;text-align: center;",ng-bind="event.Activity.Name") Event Name

div(style="text-align: center")
	div
		h3.no-margin-top(ng-bind="event.DateTime | date:'EEEE, h:mm a'") Time
	div
		h3.no-margin-top(ng-bind="event.DateTime | date:'MMMM d, yyyy'") Date
	div
		h3.no-margin-top
			a(href="{{locationLink}}", target="_blank", ng-bind="event.Activity.Location.Name") Location
	div
		h5.no-margin-top(ng-bind="event.Activity.Location.Address") Address
	//div
		h3.no-margin-top(ng-bind="event.UsersInEvent.length + event.GuestsInEvent.length")
br
div.row
	div.col-sm-8.col-sm-offset-2
		div.panel.panel-success
			div.panel-heading
				span Who's going
				div.pull-right
					button.btn.btn-primary.panel-heading-btn-right(type="button",ng-click="addUser()") Join
					button.btn.btn-primary.panel-heading-btn-right(type="button",ng-click="removeUser()") Leave
					button.btn.btn-primary.panel-heading-btn-right(type="button",ng-click="addGuest()") +1
			table.table
				tbody
					tr(ng-repeat="attendee in attendees")
						td(ng-bind="attendee.name")
						td.label.btn-primary(ng-if="attendee.type == 'guest' && attendee.host == user.UserID",
							style="position: relative; top: 10px; left: 17px; cursor: pointer", ng-click="removeGuest(attendee)") &times;
	//div.col-sm-6
		div.panel.panel-success
			div.panel-heading 
				span Chat
				div.pull-right
					button.btn.btn-primary.panel-heading-btn-right Send
			div.panel-body
				textarea.form-control(rows="3", placeholder="Your message here")
			table.table

script(id="guestModal.html",type="text/ng-template")
	div.modal-header
		h3 Add a guest
	div.modal-body
		form
			input#guestNameInput.form-control(placeholder="Enter your guest's name",ng-model="guestName")
	div.modal-footer
		button.btn.btn-primary(ng-click="add(guestName)") Add
		button.btn.btn-warning(ng-click="cancel()") Cancel