div.panel.panel-default(ng-repeat="event in events", ng-show="events")
	div.panel-heading
		div.panel-title
			a(href="#/Dashboard/Events/{{event.EventID}}",ng-bind="event.Name")
	div.panel-body
		div
			span When: 
			span(ng-bind="event.DateTime | date:'medium'")
		div
			span Where:&nbsp;
			span(ng-bind="event.Activity.Location.Name") 
			span &nbsp;at 
			span(ng-bind="event.Activity.Location.Address")
div.panel.panel-default(ng-if="events.length == 0")
	div.panel-body
		div Currently, there are no planned events. Check back later!