div.panel.panel-default
	div.panel-body
		div.page-header(style="margin-top: 0px;")
			h3(style="margin: 0px;",ng-bind="event.Activity.Name")
		div
			span When: 
			span(ng-bind="event.DateTime | date:'medium'")
		div
			span Where:&nbsp;
			span(ng-bind="event.Activity.Location.Name") 
			span &nbsp;at 
			span(ng-bind="event.Activity.Location.Address")
		div 