div.page-header(style="margin-top: 0px;")
	h3(style="margin: 0px;",ng-bind="event.Activity.Name") Name
div
	span When: &nbsp;
	span(ng-bind="event.DateTime | date:'EEEE, MMMM d, yyyy'") Time
div
	span Time: &nbsp;
	span(ng-bind="event.DateTime | date:'h:mm a'")
div
	span Where:&nbsp;
	a(href="{{locationLink}}", target="_blank", ng-bind="event.Activity.Location.Name") Name
div
	span Address:&nbsp;
	span(ng-bind="event.Activity.Location.Address") Address
div
	span # Attendees:&nbsp;
	span(ng-bind="event.UsersInEvent.length + event.GuestsInEvent.length")
br
button.btn.btn-primary(type="button",ng-click="addUser()") Join
button.btn.btn-primary(type="button",ng-click="removeUser()") Leave
button.btn.btn-primary(type="button",ng-click="addGuest()") +1
br
br
div.panel.panel-default
	table.table
		thead
			tr.success
				th Attending
		tbody
			tr(ng-repeat="attendee in attendees")
				td(ng-bind="attendee.name")

script(id="guestModal.html",type="text/ng-template")
	div.modal-header
		h3 Add a guest
	div.modal-body
		form
			input#guestNameInput.form-control(placeholder="Enter your guest's name",ng-model="guestName")
	div.modal-footer
		button.btn.btn-primary(ng-click="add(guestName)") Add
		button.btn.btn-warning(ng-click="cancel()") Cancel